* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.header {
  border: 1px solid yellow;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main {
  border: 1px solid orange;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.main div {
  background-color: azure;
}

.footer {
  border: 1px solid blue;
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  text-align: center;
}
