* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #151515;
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2em;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    gap: 1.5em;
  }
}

@media screen and (min-width: 961px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    gap: 1.5em;
  }
}

/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img-container {
  width: 50%;
}

.hero-img-container img {
  width: 100%;
}

.hero-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h2 span {
  border-bottom: 4px solid #64daa6;
}

.hero-content p {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.hero-content a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #64daa6;
  font-weight: bold;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .hero {
    flex-direction: row;
    padding: 2em;
  }

  .hero-img-container {
    flex: 1;
    order: 1;
  }

  .hero-content {
    align-items: flex-start;
    gap: 4em;
    flex: 2;
  }

  h2 {
    text-align: left;
    font-size: 2em;
  }

  .hero-content p {
    text-align: left;
    font-size: 1em;
  }

  .hero-content a {
    font-size: 1em;
  }
}

@media screen and (min-width: 961px) {
  .hero {
    flex-direction: row;
    padding: 2em;
  }

  .hero-img-container {
    flex: 1;
    order: 1;
  }

  .hero-content {
    align-items: flex-start;
    gap: 4em;
    flex: 2;
  }

  h2 {
    text-align: left;
    font-size: 4em;
  }

  .hero-content p {
    text-align: left;
    font-size: 2em;
  }

  .hero-content a {
    font-size: 2em;
  }
}

hr {
  margin: 3em 1em;
}

/* Skills Section */

.skills {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 3em;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.skill h3 {
  font-size: 2em;
}

.skill p {
  color: whitesmoke;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
  }

  .skill {
    align-items: start;
  }

  .skill h3 {
    font-size: 3em;
  }

  .skill p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 961px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
  }

  .skill {
    align-items: start;
  }

  .skill h3 {
    font-size: 3.5em;
  }

  .skill p {
    font-size: 1.8em;
  }
}

/* Projects Section */

.projects {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 3em;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: 2em;
}

.projects-header a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #64daa6;
  font-weight: bold;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-img-container img {
  width: 100%;
}

h5 {
  font-size: 1.25em;
  text-transform: uppercase;
}

.project-tech {
  display: flex;
  font-size: 1em;
  gap: 1em;
}

.project-links {
  display: flex;
  gap: 2em;
}

.project-links a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #64daa6;
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}

/* Contact Section */

footer {
  background-color: #242424;
  color: #fff;
}

.contact {
  padding: 2em;
  display: grid;
  flex-direction: column;
  gap: 1em;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h6 {
  font-size: 2.5em;
}

.contact-details p {
  text-align: center;
  font-size: 1.1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 1em;
}

textarea {
  padding: 1em;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.contact-form button {
  align-self: end;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;
  border: none;
  border-bottom: 2px solid #64daa6;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 2em;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .contact {
    padding: 5em;
  }
}

@media screen and (min-width: 961px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-details {
    align-items: start;
    width: 80%;
  }

  h6 {
    font-size: 4em;
  }

  .contact-details p {
    text-align: left;
    font-size: 1.5em;
  }
}

/* Footer Nav */

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .footer-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    gap: 1.5em;
  }
}

@media screen and (min-width: 961px) {
  .footer-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    gap: 1.5em;
  }
}
